.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/* Root Layout */

.container {
  /* top right bottom left*/
  margin:20px 20vw 0px 20vw;
}

.flex-container {
  display :flex;
  justify-content: space-between;
}

.nav-list {
  display:flex;
  list-style:none
}

.nav-item{
  margin-right:2vw
}

.nav-login{
  margin-left: 3vw
}

.mainpage {
  background-color: rgba(73, 94, 87, 0.7); 
}

.section {
  flex:1;

}



@media (max-width: 1200px) {
  .nav-list{
      flex-direction:column;
      align-items:center;
      /* visibility: hidden; */
  }

  .container{
    margin: 0px 0px 0px 0px;
  }

  .flex-container{
    flex-direction:column;
    justify-content: center;
  }

  .nav-item{
    justify-content: center;
  }

  .nav-login{
    justify-content: center;
  }

}